body {
    background: 'red';
}

.not-allowed {
  cursor: not-allowed !important;
}

.hidden {
    display: none;
}


* {
   cursor: url('../resources/hand-cursor.png') !important;
}



/* https://stackoverflow.com/a/50349274/274677
 */
button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
